
<h2>Create Stripe Payments</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Transactions page</div>
  <div class="panel-body">
    <p>Your token:<span id="token"><%=token%></span></p>
  

    <form class= "form-signin" id = "transaction-form">
      <label for="amount">Amount:</label>
      <input type="number" name="amount" id="amount" class="form-control" value = "10"><br>
      <label for="currency">Currency: </label>
      <input type="text" name="currency" id="currency" class="form-control" value="usd"><br>
      <label for="cardnumber">Card number </label>
      <input type="text" name="customerid" id="cardnumber" class="card-number form-control" value="4268713191834024"><br>
      <label for="cvc">CVC: </label>
      <input type="number" name="cvc" id="cvc" class="card-cvc form-control" value = "224"><br>
      <label for="card-expiry-month">Expired Month: </label>
      <input type="number" name="card-expiry-month" id="card-expiry-month" class="card-expiry-month form-control" value= "06"><br>
      <label for="card-expiry-year">Expired Year: </label>
      <input type="number" name="card-expiry-year" id="card-expiry-year" class="card-expiry-year form-control" value = "16"><br>
      <input type="hidden" name="user" id="user" class="user form-control" value = "<%=user%>">
      <input type="button" class="submittransaction btn btn-md btn-primary btn-block" id="submittransaction" value="Submit">
      <%if (exist) { %>
      <input type="button" class="submitexist btn btn-md btn-success btn-block" id="submitexist" value="Use Existing Card info">
      <% } %>
      <p class="payment-errors"></p>
    </form>
   </div>
</div>

